name: Web CI

on:
  push:
    branches: ["main"]
    paths: ["apps/web/**"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/freshcutz-web ./apps/web

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/freshcutz-web
